mat-grid-tile {
    background: lightblue;
    padding: 1rem;
    overflow: hidden;
    height: 5rem;
  }

.grid-container{
    margin: 5rem;

}
.cardList {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  display: inline;
}
/* Column Gap */
.cardList > * {
  box-sizing: border-box;
}
.cardList > *:not(:last-child) {
  margin-right: 1rem;
  margin-bottom: 1rem;
}
/* Item sizing */
.cardListItem {
  flex: 0 1 calc(33.3% - 1rem);
}
/* medium size viewport */
@media screen and (max-width: 959px) {
  /* Column Gap */
  .cardList > *:not(:last-child) {
    margin-right: 1rem;
  }
  /* Item sizing */
  .cardListItem {
    flex: 0 1 calc(50% - 32px);
  }
}
/* small size viewport */
@media screen and (max-width: 599px) {
  .cardList {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }
  .cardList > *:not(:last-child) {
    margin-right: unset;
    margin-bottom: 32px;
  }
}
