<div class="grid-container">
    <div class="cardList">
        <app-planet-card></app-planet-card>
        <app-planet-card></app-planet-card>
        <app-planet-card></app-planet-card>
        <app-planet-card></app-planet-card>
        <app-planet-card></app-planet-card>
        <app-planet-card></app-planet-card>
        <app-planet-card></app-planet-card>
        <app-planet-card></app-planet-card>
        <app-planet-card></app-planet-card>
        <app-planet-card></app-planet-card>
    </div>
    <!-- <app-planet-card></app-planet-card> -->
</div>
<p>Default pagination:</p>
<ngb-pagination [collectionSize]="70" [(page)]="page" aria-label="Default pagination"></ngb-pagination>