
.nav-link p{
  font-weight: 700;
  color: #999;
  font-family: 'Roboto', sans-serif;
  text-transform: uppercase;
}
.nav-link p{
  text-decoration: none;
}
.nav-link p:hover{
  color: white;
}

.navbar-toggler {
    border-color: white;
}
.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 0.7)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.active p{
color: white;
  border-bottom: 2px solid #f2f288;

}
